

h2 {
    text-align: center;
    color: blueviolet;
    font-size: 4em;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}


/* CARD IMAGES  */

.card {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.card .card-image img {
    height: 20vh; 
    object-fit: cover; /* image covers */
}

/* Adjust the height of the card content */
.card .card-content {
    height: 16vh; 
    overflow: hidden; 
    /* text-overflow: ellipsis;  */
    margin-bottom: 2vh;
}

.card .card-action a {
    color: rgb(103, 9, 170) !important;
    font-weight: 700;
}

/* Adjust card dimensions for different screen sizes */
@media (min-width: 600px) {

    .col.m6 {
        width: 50%; /* Two cards per row */
    }
}

@media (min-width: 992px) {

    .col.l4 {
        width: 33.33%; /* Three cards per row */
    }
}

/* CATEGORY BUTTONS */
.category-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .category-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .category-button:hover {
    background-color: #0056b3;
  }

  .pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .pagination li {
    margin: 0 5px; 
  }
  
  .pagination li a {
    text-decoration: none;
    color: #000; 
    cursor: pointer;
    padding: 5px 10px; 
  }