/* CARD IMAGES  */

.card {
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.card .card-image img {
    height: 20vh; 
    object-fit: cover; /* image covers */
}

.card .card-content {
    height: 16vh; 
    overflow: hidden; 
    /* text-overflow: ellipsis;  */
    margin-bottom: 2vh;
}

.card .card-action a {
    color: rgb(103, 9, 170) !important;
    font-weight: 700;
}

@media (min-width: 600px) {

    .col.m6 {
        width: 50%; /* Two cards per row */
    }
}

@media (min-width: 992px) {

    .col.l4 {
        width: 33.33%; /* Three cards per row */
    }
}

/* CATEGORY BUTTONS */

.category-buttons {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.category-buttons .waves-effect {
    margin-top: 5vh;
    margin-bottom: 3vh;
    padding: 1.5vh 1vw;
}

.btn {
    background-color: #546e7a !important;
    color: white;
    margin-right: 2vw;
    height: auto;
    text-transform: uppercase;
}

 /* Pagination */

.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin-bottom: 5vh;
}

.pagination .waves-effect {

    margin-top: 5vh;
    margin-bottom: 3vh;
    padding: 4vh 1vw;
}

.pagination-item a {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
    color: #9c9c9c !important;
    cursor: pointer;
    padding: 10px 20px;
    border: .5px solid #ccc;
    transition: background-color 0.3s ease; 
}

.pagination-item a:hover {
    background-color: #f5f5f5; 
}
