

body,
html {
    width: 100%;
    margin: 0;
    padding: 0;
}


.icon-block {
    padding: 0 15px;

}

.icon-block .material-icons {
    font-size: inherit;
}

main {
    /* min-height: 100vh; */
    position: relative;
    padding-bottom: 100px;
    height: 70vh;
    display: flex;
    bottom: 100%;
}

.container{
    max-width: 100vw;
    /* height: 30vh; */
    min-height: 50vh;
    height: auto;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.main-header,
.sub-header {
    font-family: 'Trispace', sans-serif;
}

 /* .bottom-footer {
    position: absolute;
    max-width: 100vw;
    width: 100%;
    bottom: 0;
    display: flex;
    margin-top: auto;
}  */


/* footer placement  */
footer {
    /* position: relative;  */
    /* margin-top: 30vh; */
    width: 100%; 
    z-index: 1;
    background-color: #f8f9fa;
    padding: 1rem 0;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Trispace', sans-serif;
}

.header-5 {
    font-size: 1.64rem;
}

.quiz-transition,
.block-transition {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out;
}

.opacity-0 {
    opacity: 0;
}

.page{
    min-height:69vh;
}

.page2{
    min-height:69vh;
}
.quizPage{
    min-height:90vh;

}
.results{
    min-height:120vh;
}

.brand-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* logo image  */
.brand-logo img {
    width: 70px; 
    height: auto; 
}

.brand-logo span {
    font-size: 1.2em;
    font-weight: bold; 
}

.responsive-img2 { 
    height: auto; 
    display: block;
    width: 30vw;
    margin: 0 auto;
}

/* .responsive-img2 { 
    height: auto; 
    display: block;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
    position: absolute; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
} */

/* .container-card{
    margin-top: 15vh !important;
} */

/* ABOUT US SECTION  */
.container.valign-wrapper {
    margin-top: 18vh; 
    margin-bottom: 3vh;
}

.section-container {
    background-color: #d6e0e045; 
    padding: 10px; 
    border-radius: 10px; 
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 15vh;
  }


  /*  wave animation effect */
.landing-animation {
    background: linear-gradient(
      72.12deg,
      #fbdbe3 0%,
      #c7ecf5  34.72%,
      #d0dee8 75.75%,
      #60e4e2 100%
    );
    height: 90vh;
    overflow: hidden;
    text-align:center;
    font-size:28px;
  }
  
  .svg-waves {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 180px;
    }
    
    @media (max-width: 767px) {
      .svg-waves {
        height: 80px;
      }
    }
    
  .svg-waves__parallax > use {
      -webkit-animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
              animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
    }
    
    .svg-waves__parallax > use:nth-child(1) {
      -webkit-animation-delay: -2s;
              animation-delay: -2s;
      -webkit-animation-duration: 7s;
              animation-duration: 7s;
      fill: rgba(255, 255, 255, 0.7);
    }
    
    .svg-waves__parallax > use:nth-child(2) {
      -webkit-animation-delay: -3s;
              animation-delay: -3s;
      -webkit-animation-duration: 10s;
              animation-duration: 10s;
      fill: rgba(255, 255, 255, 0.5);
    }
    
    .svg-waves__parallax > use:nth-child(3) {
      -webkit-animation-delay: -4s;
              animation-delay: -4s;
      -webkit-animation-duration: 13s;
              animation-duration: 13s;
      fill: rgba(255, 255, 255, 0.3);
    }
    
    .svg-waves__parallax > use:nth-child(4) {
      -webkit-animation-delay: -5s;
              animation-delay: -5s;
      -webkit-animation-duration: 20s;
              animation-duration: 20s;
      fill: white;
    }
    
    @-webkit-keyframes move-forever {
      0% {
        transform: translate3d(-90px, 0, 0);
      }
      100% {
        transform: translate3d(85px, 0, 0);
      }
    }
    
    @keyframes move-forever {
      0% {
        transform: translate3d(-90px, 0, 0);
      }
      100% {
        transform: translate3d(85px, 0, 0);
      }
    }
    
